name: Urban Flow CI/CD (Self-Hosted)

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy Backend
        run: |
          cd backend
          source venv/bin/activate
          pip install -r requirements.txt
          sudo systemctl restart urbanflow-api

      - name: Build & Deploy Frontend
        run: |
          cd frontend
          npm install
          npm run build

          sudo rm -rf /var/www/html/*
          sudo cp -r build/* /var/www/html/
          sudo chown -R www-data:www-data /var/www/html
          sudo systemctl restart apache2
